# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore
!.gitattributes
!.dockerignore
!.github

*.iml
*.ipr
*.iws
*.pyc
*.tar.gz

**/target/
**/.metadata
**/.classpath
**/.project
**/.settings
**/tmp/
**/classes
**/out
**/build
